<a href="https://colab.research.google.com/github/tmckim/materials-sp24-colab/blob/main/review/PracticeNotebook_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Before you start - Save this notebook!

When you open a new Colab notebook from the WebCampus (like you hopefully did for this one), you cannot save changes. So it's  best to store the Colab notebook in your personal drive `"File > Save a copy in drive..."` **before** you do anything else.

The file will open in a new tab in your web browser, and it is automatically named something like: "**Copy of PracticeNotebook.ipynb**". You can rename this to just the title of the assignment "**PracticeNotebook.ipynb**". Make sure you do keep an informative name (like the name of the assignment) so that you know which files to submit back to WebCampus for grading! More instructions on this are at the end of the notebook.


**Where does the notebook get saved in Google Drive?**

By default, the notebook will be copied to a folder called “Colab Notebooks” at the root (home directory) of your Google Drive. If you use this for other courses or personal code notebooks, I recommend creating a folder for this course and then moving the assignments AFTER you have completed them.

## Setup and Import Steps

In [ ]:
# Step 1
# Setup and add files needed to access gdrive
from google.colab import drive                                   # these lines mount your gdrive to access the files we import below
drive.mount('/content/gdrive', force_remount=True)

In [ ]:
# Step 2
# Change directory to the correct location in gdrive (modified way to do this from before)
# import os
os.chdir('/content/gdrive/MyDrive/NS499-DataSci-course-materials/')

In [ ]:
# Step 3
# Remove the files that were previously there- we will replace with all the old + new ones for this assignment
!rm -r materials-sp24-colab

In [ ]:
# Step 4
# These lines clone (copy) all the files you will need from where I store the code+data for the course (github)
# Second part of the code copies the files to this location and folder in your own gdrive
!git clone https://github.com/tmckim/materials-sp24-colab '/content/gdrive/My Drive/NS499-DataSci-course-materials/materials-sp24-colab/'

In [ ]:
# Step 5
# Change directory into the folder where the resources for this assignment are stored in gdrive (modified way from before)
import os
os.chdir('/content/gdrive/MyDrive/NS499-DataSci-course-materials/materials-sp24-colab/review/')

In [ ]:
# Import packages and other things needed
# Don't change this cell; Just run this cell
# If you restart colab, make sure to run this cell again after the first ones above^

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action='ignore',category=np.VisibleDeprecationWarning)

### Working with Tables and Data Organization

Case Study: Understanding the [W. E. B. Du Bois Visualization](https://en.wikipedia.org/wiki/W._E._B._Du_Bois)

From Wikipedia: William Edward Burghardt Du Bois (February 23, 1868 – August 27, 1963) was an American sociologist, socialist, historian, and Pan-Africanist civil rights activist. Born in Great Barrington, Massachusetts, Du Bois grew up in a relatively tolerant and integrated community. After completing graduate work at the University of Berlin and Harvard University, where he was the first African American to earn a doctorate, he became a professor of history, sociology, and economics at Atlanta University. Du Bois was one of the founders of the National Association for the Advancement of Colored People (NAACP) in 1909.

For more context on the visualization in lecture checkout [Du Bois’ Data Portraits Tell A Story About Black Life In Georgia And Beyond](https://www.wabe.org/du-bois-data-portraits/) <br>

The data we will be working with is from this image: <br>
![](dubois_image.jpg)

In [ ]:
# Read in the table for these exercises
du_bois = Table.read_table('du_bois.csv')
du_bois

Columns in the table are:

`Class`: range of annual income values <br>
`Actual Average`: Average value of annual income per class<br>
`Rent`: % of income spent on rent<br>
`Food`: % of income spent on food<br>
`Clothes`: % of income spent on clothes<br>
`Taxes`: % of income spent on taxes<br>
`Other`: % of income spent on religion, art, education, health, savings, amusements, books, travel, etc.

**Exercise**: Get an array of the 'Actual Average' column values

In [ ]:
# Write an expression to access the values in the `Actual Average` column
# the output should be an array of the 7 numbers

**Exercise**: Compute the amount of money spent on food and add it to the table as "FOOD $":

In [ ]:
# Calculate the amount spent on food for each income level
# Multiply all values for the income column (choose the correct one) by the % spent on food (choose the correct column)
# Add your new values to the table in a new column with the correct name
# Feel free to use mutiple lines of code or cells to arrive at the answer

**Exercise**: Find the maximum and the minmum amount spent from the new column you added (`Food $`)

In [ ]:
# Code goes here for max and min

**Exercise**: Find the income bracket ("class") that spent the most money on rent.

In [ ]:
# Similar to above- calculate the values you need and add the data as a new column to the table
# Manipulate/rearrange the data to find the highest value
# Your final expression should return the single highest value

### Working with tables - More Practice

In [ ]:
# Create a table named nba from the data file using the Table method and read_table function
nba = Table.read_table('nba_salaries.csv')
nba

**Exercise**: Create a table called `point_guards` by using the entries in the `position` column labeled with `PG` during the 2020 season. <br>
*Hint*: You need to filter the table using `where` for multiple columns and values.

In [ ]:
# Create a table called point_guards by finding where the position column is labeled PG (point guard) during the 2020 season

**Exercise**: Now that we have filtered the table, remove the `position` column

In [ ]:
# Drop (remove) the position column

**Exercise**: If we were to run the line below, after the ones above, why does this error?

In [ ]:
# The line below will cause a value error- uncomment (remove the # to see what it says if you'd like)
# nba.drop('position').where('position', 'PG')

*Type your response here*

**Exercise**: Also remove the `rank`, `position`, and `season` columns. Try to do this only one line of code.

In [ ]:
# Further remove columns from the table

**Exercise**: Show your table, and check that it has only 3 remaining columns: `name`, `team`, and `salary`

In [ ]:
# Show the first 10 rows of the table

**Exercise**: Find the maximum and minimum salary values. You should return a single value for the maximum and then the minimum in the cells below.

In [ ]:
# Combine table functions: first sort by salary and then show the first 10 rows
# What is the default sorting direction?
# Hint: what is the default for the optional argument, descending?

In [ ]:
# Max and min values

**Exercise**: Return all values in the row for the maximum and minimum salaries.<br>
 *Hint*: There is a `row` method you can use, refer to the [documentation](https://www.data8.org/sp22/python-reference.html)

In [ ]:
# Max row

In [ ]:
# Min row

**Exercise**: Create a table (from the original we loaded in, not the one you were just using) of data for a single team that you choose.

In [ ]:
# Just run this cell
# Here is a list of all the team names- pick your favorite
np.unique(nba.column('team'))

In [ ]:
# Create a table of your team

**Exercise**: What is the average salary for the players on the team you've chosen?

In [ ]:
# Average the numbers in the salary column

**Exercise**: Round this to a reasonable number of decimal places of your choosing.

In [ ]:
# Round the salary value from above

**Exercise**: Create a table with the data from another team of your choosing.

In [ ]:
# Create a table with another team (you will compare them in the next cell)

**Exercise**: What is the difference in the average salary between the two teams?

In [ ]:
# Subtract averages from the salary columns to compare the two teams

**Exercise**: How many players are on each team?

In [ ]:
# Players on Team 1

In [ ]:
# Players on Team 2

### Group Review

**Exercise**: Determine how much money did each team pay for its players’ salaries? <br>
*Hint*: you should use `group`

In [ ]:
# First select only the columns you need- simplify the table
# Use group in the second line

**Exercise**: Determine how many NBA players were there in each of the positions?

In [ ]:
# Number of plays for each position

**Exercise**: What was the average salary of the players at each of the positions?

In [ ]:
# Averge salary of the players in each position

A note about using group: It will not average columns that have non-numerical data. For example, for the `name` or `team` columns, you cannot average strings like “Atlanta Hawks” or 'Lebron James'. It will leave those columns blank as you can see when you run the code below.

In [ ]:
# Test this out here- you should see empty columns
nba.group('position', np.mean)

## Census Data - Working with Tables & Plotting

In [ ]:
# Read in the Census data table
full = Table.read_table('nc-est2019-agesex-res.csv')
full

Columns in the table: <br>
`SEX`: coded so that values of: 0 = total, 1 = male, 2 = female <br>
`AGE`: ages in completed years, but with special values: <br>
*   999 = sum of the total population
*   100 = all persons 100 and over <br><br>


The other columns contain estimates of the US population in each category of sex and age in the years 2010 through 2019. The Census takes place every 10 years. For years in between, the Census Bureau estimates population changes each year. That is why the columns are labeled with `POPESTIMATE` for population estimates.

**Exercise**: We only want to work with the population changes from 2014 to 2019. Create a smaller table that has the `SEX`, `AGE`, and population estimate columns for these two years.

In [ ]:
# Keep only the columns we care about- 2014 and 2019
partial = full.select('SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019')
partial

**Exercise**: Relabel the names of the columns in our smaller table to remove `POPESTIMATE` and only keep the year as the column name.

In [ ]:
# Relabeled columns (2014 and 2019)

**Exercise**: Remove the values in the `AGE` column that are coded as `999`. <br>
*Hint*: Use `where` to do this.

In [ ]:
# Run this line of code to see all unique values in the AGE column.
# This is meant to help you decide which predicate (the part that uses `are`) that goes along with `where`
np.unique(simple.column('AGE'))

In [ ]:
# Remove the age totals- coded as 999

**Exercise**: Create two separate tables: one table that contains the data for males, and one table that contains the data for females. Each table should have 3 columns: `AGE`, `2014`, and `2019`.<br>
Hint: This means that after you get the data you want for just males and females in their respective tables, you should use `.drop` to remove the `SEX` column.

In [ ]:
# 2 tables: 1 for females and 1 for males

**Exercise**: Create a table that contains `AGE` and a column for `Males` and `Females` that contain only their respective data from 2019. The table should have these 3 columns only. <br>
*Hint*: Create a new table from the two separate tables you made above.

In [ ]:
# Creating a new table

**Exercise**: Create a line plot of the data by `AGE` for this new 2019 table you made above. The x-axis should be `AGE` and there should be two lines on the plot- one line for males and one line for females.

In [ ]:
# lineplot of 2019 data

**Exercise**: Calculate the percent female for each age and return this as an array. <br>
*Hint*: Use all the data from the `Females` column and basic arithmetic operations to esnure the value for each `Age` entry are calculated. You need to find the total population and use this as your denominator. Also multiply this value by 100 to get %.

In [ ]:
# Calculate the percent female for each age

**Exercise**: Take your array and round it to 3 decimal places to make it easier to read. <br>
*Hint*: Use np.round to round your array.

In [ ]:
# Round the percent female array to 3 decimal places

**Exercise**: Add the array to the table with the 2019 data. There should now be 4 columns: `Age`, `Males`, `Females`, `Percent Female`.

In [ ]:
# Add female percent to our table of 2019 data

**Exercise**: Create a line plot of the data by `AGE` and `Percent Female` for the 2019 data.

In [ ]:
# Plot percent female

**Exercise**: Adjust your y-axis by adding the line below as the second line to your plotting code from above.

In [ ]:
# ^^ Look at the y-axis! Trend is not as dramatic as you might think

# plot goes here- fill in this code
...
plt.ylim(0, 100);  # Do not change

### Census Data: Joining Tables

**Exercise**: You are given the two tables below, and want to join them to add the `CODE DEFINITION` column to the first table. Fill in the code to join them so your table has a total of 4 columns.

In [ ]:
# One table
full = Table.read_table('nc-est2019-agesex-res.csv')
census = full.select('SEX', 'AGE', 'POPESTIMATE2019')
census.show(3)

In [ ]:
# A second table
sex_codes = Table().with_columns(
    'SEX CODE', make_array(0, 1, 2),
    'CODE DEFINITION', make_array('All', 'Selected Male', 'Selected Female')
)
sex_codes

In [ ]:
# Join the tables here

## More Plotting and Group Practice

Bar charts are used to visualize the relationship between numerical attributes and categorical attributes.

Here we examine the top 200 highest grossing movies of all time (as of 2017).

In [ ]:
# Highest grossing movies as of 2017
top_movies = Table.read_table('top_movies_2017.csv')
top_movies

**Exercise**: Based on this data, what is the relationship between the studios and their total revenue? Construct a bar plot showing the total Gross (Adjusted) income for each studio.

In [ ]:
# Use multiple lines here
# Start by selecting the columns of data you need (only 2 of the 5 above)
# Use group and get the sum based on the grouping variable mentioned in the question
# Relabel the column name after grouping- remember it tacks on whatever you specify as the `collect` method
# Make sure to order the studios from highest to lowest total revenue
# Create your bar plot

**Exercise**: Look further into the top studio (should be Buena Vista from above plot).

1.   Plot the top grossing movies for the top studio
2.   Plot relationship between gross revenue and release year

In [ ]:
# 1. Plot the top grossing movies for the top studio

In [ ]:
# 2. Plot relationship between gross revenue and release year

## For Statements Review

**Exercise**: Run the line of code below to see what the `for` loop prints on each iteration. Below this, write several lines of code that unroll this loop. This means that you should access each element in your array and print the entry.

In [ ]:
for pet in make_array('cat', 'dog', 'rabbit'):
    print('I love my ' + pet)

In [ ]:
# Make an array of the three strings
# 2 lines per element in the array:
  # get the item from the array
  # write a print statement refering to the text of that element

**Exercise**: Review the code below for `np.arange`. Note what happens on each iteration of your loop.

In [ ]:
for i in np.arange(5):
    print(i)

**Exercise**: Compare what happened above to what happens in the loop below. Why are they different? What do they have in common?

In [ ]:
for i in np.arange(5):
    print('Go Bears')

*Type your response here*

**Exercise**: Run the code below. What gets printed out and why?

In [ ]:
s = make_array(2, 3)
np.append(s, 4)
s

*Type your response here*

**Exercise**: Now run this code below. Notice that now the value 4 is actually appended to `s`. Why does this happen? What is different compared to the lines above? <br>
Hint: It has to do with the assignment expression for `s`.

In [ ]:
s = np.append(s, 4)
s

*Type your response here*

**Exercise**: Review the code below. What do you think it does? Write out the steps below *first*. Then run the cell and check your understanding.

*Type your response here*

In [ ]:
result = make_array(2, 3, 4)
for i in np.arange(5):
    result = np.append(result, 10 * i)
result

## Pivot review

In [ ]:
# Read in the nba table
nba = Table.read_table('nba_salaries.csv')

In [ ]:
# Preview data
nba.show(20)

In [ ]:
# Examine unique values of one column- season for example
np.unique(nba.column('season'))

Each player has two categorical attributes, Position and Team (actually three, because their name is also categorical).

In [ ]:
# Count how many players are in each Position/Team pair
# Two required arguments:
# First is the column label of the attribute
# whose values are the column labels of the pivot table
# Second is the label for the rows

# Each cell contains the number of players in that Position/Team category.

nba_pvt = nba.pivot('position', 'team')

In [ ]:
nba_pvt.show()

In [ ]:
# Flip the order and compare to above. Which is easier for you to read?
nba.pivot('team', 'position')

Optionally, you can ask pivot to do the following: for each Position/Team combo, find all the **values** of another attribute and **collect** them in some way; display this in the cell.

- The `values` argument has to be the column label of the new attribute
- The `collect` argument has to be the name of a function

In [ ]:
# List the players in each Position/Team combo

nba.pivot('position', 'team', values = 'name', collect = list)

**Exercise**: Find the total salary for position and team combinations. Your first column should be team (with a row for each team) and the following columns should include each position.<br>
*Hint*: You should use pivot.

In [ ]:
# Total salary in each Position/Team combo

**Exercise**: Now find the median salary for position and team combinations. Your first column should be team and the following columns should include each position.

In [ ]:
# Median salary in each Position/Team combo

Here we will simply demonstrate that you can use `pivot` with any function- even ones that you create and define yourself.

In [ ]:
# This function returns the distance between the max and the min of a list/array

def data_range(x):
    return max(x) - min(x)

In [ ]:
# You can use your own function as the collect
# Distance between the max salary and min salary in each Position/Team combo

nba.pivot('position', 'team', 'salary', data_range)

### Pivot Example 2 <br>

In [ ]:
# Read in table and filter to only year 2014
full_table = Table.read_table('educ_inc.csv')
ca_2014 = full_table.where('Year', are.equal_to('1/1/14 0:00')).where('Age', are.not_equal_to('00 to 17'))
ca_2014

In [ ]:
# Focus on educational attainment, personal income and population count
educ_inc = ca_2014.select('Educational Attainment', 'Personal Income', 'Population Count')
educ_inc

Let’s start by looking at educational level alone. The categories of this variable have been subdivided by the different levels of income. So we will group the table by `Educational Attainment` and sum the `Population Count` in each category.

In [ ]:
# Just run this cell
education = educ_inc.select('Educational Attainment', 'Population Count')
educ_totals = education.group('Educational Attainment', sum)
educ_totals

There are only four categories of educational attainment. The counts are so large that is is more helpful to look at percents. For this, we will use the function percents that we defined in an earlier section. It converts an array of numbers to an array of percents out of the total in the input array.

In [ ]:
def percents(array_x):
    return np.round( (array_x/sum(array_x))*100, 2)

In [ ]:
educ_distribution = educ_totals.with_column(
    'Population Percent', percents(educ_totals.column(1))
)
educ_distribution

**Exercise**: Create a table that classifies individuals by `Educational Attainment` and `Personal Income`. Your final table should have `Personal Income` categories as rows and `Educational Attainment` categories as columns.
*Hint*: You should use pivot.

In [ ]:
# Pivot table here- don't change the name `totals`, it is used in the cell below
totals = ...
totals

Here you see the power of pivot over other cross-classification methods. Each column of counts is a distribution of personal income at a specific level of educational attainment. Converting the counts to percents allows us to compare the four distributions.

In [ ]:
# Just run this cell
distributions = totals.select(0).with_columns(
    "Bachelor's degree or higher", percents(totals.column(1)),
    'College, less than 4-yr degree', percents(totals.column(2)),
    'High school or equivalent', percents(totals.column(3)),
    'No high school diploma', percents(totals.column(4))
    )

distributions

At a glance, you can see that over 35% of those with Bachelor’s degrees or higher had incomes of
 and over, whereas fewer than 10% of the people in the other education categories had that level of income.

In [ ]:
# Just run this cell to select a subset of the data to plot below
distributions_plot = distributions.select(0, 1, 4)

**Exercise**: Create a barplot that shows the `Personal Income` distribution by the two `Educational Attainment` columns above.

In [ ]:
# Barplot


The bar chart should compare the personal income distributions of adult Californians who have no high school diploma with those who have completed a Bachelor’s degree or higher.

# Bike sharing- using `group` and even more table practice

In [ ]:
# Read in the trip data from csv file
trip = Table.read_table('trip.csv')
trip.show(3)

In [ ]:
# Just trips under 30 mins (free ride length)
# Duration is in seconds
commute = trip.where('Duration', are.below(60*30)) # 60 secs * 30 mins
commute.hist('Duration')

In [ ]:
# Most common start station
# group finds unique values of the Start Station and gets the count of those
starts = commute.group('Start Station').sort('count', descending=True)
starts

In [ ]:
starts.column('Start Station').item(0)

**Exercise**: Write a Python expression that returns the name of the station where most rentals ended

In [ ]:
# Most common end station

**Exercise**: Write a Python expression that returns the number of stations for which the average duration of trips ending at that station was more than 10 minutes

In [ ]:
# Code goes here- use as many lines as you need!

**Exercise**: Write a Python expression that returns the number of stations that have more than 500 starts and more than 500 ends.

In [ ]:
# Start and end 500 stations- use as many lines as you need!

# Comparing `where` and Boolean values ##

In [ ]:
# Just run this cell
ages = make_array(16, 22, 18, 15, 19, 15, 16, 21)
age = Table().with_column('Age', ages)

In [ ]:
# preview the age table
age

**Exercise**: Use `where` to find `Age` values that are above or equal to the age of 18.

In [ ]:
# Finding ages 18 and above

**Exercise**: Repeat what you did above, but use boolean logic. This means that when you evaluate what the value of `voter` is in the next cell, you get an array of `True` and `False` values.

In [ ]:
# Using boolean logic

**Exercise**: Run the cell below to show the original array. Review the `True` and `False` values in comparison to this array and make sure you understand how these two things match up.

In [ ]:
# Just run this cell
ages