<a href="https://colab.research.google.com/github/tmckim/materials-sp24-colab/blob/main/lec_demos/lec04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Before you start - Save this notebook!

When you open a new Colab notebook from the WebCampus (like you hopefully did for this one), you cannot save changes. So it's  best to store the Colab notebook in your personal drive `"File > Save a copy in drive..."` **before** you do anything else.

The file will open in a new tab in your web browser, and it is automatically named something like: "**Copy of lec04.ipynb**". You can rename this to just the title of the assignment "**lec04.ipynb**". Make sure you do keep an informative name (like the name of the assignment) so that you know which files to submit back to WebCampus for grading! More instructions on this are at the end of the notebook.


**Where does the notebook get saved in Google Drive?**

By default, the notebook will be copied to a folder called “Colab Notebooks” at the root (home directory) of your Google Drive. If you use this for other courses or personal code notebooks, I recommend creating a folder for this course and then moving the assignments AFTER you have completed them. <br>

I also recommend you give the folder where you save your notebooks^ a different name than the folder we create below that will store the notebook resources you need each time you work through a course notebook. This includes any data files you will need, links to the images that appear in the notebook, and the files associated with the autograder for answer checking.<br>
You should select a name other than '**NS499-DataSci-course-materials**'. <br>
This folder gets overwritten with each assignment you work on in the course, so you should **NOT** store your notebooks in this folder that we use for course materials! <br><br>For example, you could create a folder called 'NS499-**notebooks**' or something along those lines. 

__________

### We will now do the setup steps as separate cells to help with issues finding files in google drive/colab. <br> If you restart colab, you must rerun all **5** steps in each of these cells!

In [ ]:
# Step 1
# Setup and add files needed to access gdrive
from google.colab import drive                                   # these lines mount your gdrive to access the files we import below
drive.mount('/content/gdrive', force_remount=True)

In [ ]:
# Step 2
# Change directory to the correct location in gdrive (modified way to do this from before)
import os
os.chdir('/content/gdrive/MyDrive/NS499-DataSci-course-materials/')

In [ ]:
# Step 3
# Remove the files that were previously there- we will replace with all the old + new ones for this assignment
!rm -r materials-sp24-colab

In [ ]:
# Step 4
# These lines clone (copy) all the files you will need from where I store the code+data for the course (github)
# Second part of the code copies the files to this location and folder in your own gdrive
!git clone https://github.com/tmckim/materials-sp24-colab '/content/gdrive/My Drive/NS499-DataSci-course-materials/materials-sp24-colab/'

In [ ]:
# Step 5
# Change directory into the folder where the resources for this assignment are stored in gdrive (modified way from before)
os.chdir('/content/gdrive/MyDrive/NS499-DataSci-course-materials/materials-sp24-colab/lec_demos/')

#### Today's Lecture

In today's lecture, you'll learn how to:

1. use python to work with numbers (integers and floats)
2. use python to work with strings
3. learn about data types and how to find out what type python uses
4. put together data types into an array

In [ ]:
# Import packages and other things needed
# Don't change this cell; Just run this cell
# If you restart colab, make sure to run this cell again after the first one above^

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use("fivethirtyeight")

## Numbers ##

In [ ]:
# Example number
30

In [ ]:
10 * 3    # int

In [ ]:
10 / 3    # float

In [ ]:
# Division of two integers- float
10 / 2

In [ ]:
# Exponentiation with integers
10 ** 3

In [ ]:
# Exponentiation with integer + float
10 ** 0.5

In [ ]:
# Might need to run this line for the next cell if there is an error, otherwise number is too big
#import sys
#sys.set_int_max_str_digits(0)

In [ ]:
# A really big number
123456 ** 890

In [ ]:
# Floats- limited t0 15-16 significant digits
10 / 3

In [ ]:
# A large number minus some of the same large number - what happens?
758927451789.215489247589274985712 - 758927451789.21548924

In [ ]:
# Square root and then recover by squaring- what happens?
(13 ** 0.5) ** 2

In [ ]:
# convert to integer using the int function
int(10 / 5)

In [ ]:
# What happens if we convert a float to an integer?
int(10 / 4)

In [ ]:
# convert to float using the float function
float(3)

In [ ]:
# Simple division
6 / 4

In [ ]:
# A variation with a larger denominator
6 / 4000

In [ ]:
# Scientific notation
6 / 400000000000000000000000000000000000000000000000000000000

In [ ]:
# Can write in scientific notation
400000000000000000000000000000000000000000000000000000000 * 1.5e-56

In [ ]:
# Assign the value 5 to x
x = 5

In [ ]:
# Doesn't work like math
2x

In [ ]:
# Must write out multiplication with *
2 * x

## Strings ##

In [ ]:
# Text
'Flavor'

In [ ]:
# The line below causes a name error
# Python thinks you are using a name (variable)
# Flavor

In [ ]:
# Double quotes
"Flavor"

In [ ]:
# Single vs. Double Quotes - this will error
'Don't always use single quotes'

In [ ]:
# Combining single and double quotes
"Don't always use single quotes"

In [ ]:
# Concatenation Example 1
'straw' 'berry'

In [ ]:
# Concatenation Example 2
'straw' + 'berry'

In [ ]:
# Spaces aren't added for you
'Data' + 'Science'

In [ ]:
# Manually add space within quotes
'Data' + ' ' + 'Science'

In [ ]:
# Assign names and then add
x = 'straw'
y = 'berry'
x + y

In [ ]:
# Invalid syntax
x y

In [ ]:
# Cannot multiply by a float
'ha' * 5.5

In [ ]:
# Cannot add text and integer
'ha' + 10

In [ ]:
# Can make a string that contains a number
'NS' + str(499)

In [ ]:
# Convert string to integer using int function
int('3')

In [ ]:
# Convert string to integer errors with decimal- intermediate step to convert float is needed
int('3.0')

In [ ]:
# Convert from string to float, and then to integer
int(float('3.0'))

In [ ]:
# Convert string to float- assign name and add two strings together
dot_oh = '.0'
float('3' + dot_oh)

## Types ##

In [ ]:
# Confirm 10 is an integer using type
type(10)

In [ ]:
# Assign a to the value of 10
a = 10

In [ ]:
# What is the type of a?
type(a)

In [ ]:
# What is the type of a number with decimals?
type(4.5)

In [ ]:
# What is the type of text?
type('abc')

In [ ]:
# Check the type of a table
# Special kind from datascience module
type(Table.read_table('nba_salaries.csv'))

In [ ]:
# What is the type of True or False?
type(True)

In [ ]:
# What is the type of the abs function?
type(abs)

## Arrays ##

In [ ]:
# An array of 4 numbers
first_four = make_array(1, 2, 3, 4)

In [ ]:
# Show the array
first_four

In [ ]:
# Multiply the array by 2
first_four * 2

In [ ]:
# Squaring the array
first_four ** 2

In [ ]:
# Add to the array
first_four + 1

In [ ]:
# The original array is unchanged, just like when we call show/select/drop on Table
first_four

In [ ]:
# A new array
next_four = make_array(5, 6, 7, 8)

In [ ]:
# Add two arrays
first_four + next_four

In [ ]:
# A third array
only_three = make_array(5, 6, 7)

In [ ]:
# This line will cause an error - why?
first_four + only_three

In [ ]:
# A string array
str_array = make_array('ha', 'he', 'ho')

In [ ]:
# Show the array
str_array

In [ ]:
# Multiply a string array by a number?
str_array * 4

In [ ]:
# Show this array again
next_four

In [ ]:
# How to index an array
next_four.item(0)

In [ ]:
# What item are we indexing here?
next_four.item(1)

In [ ]:
# Adding the array of numbers
sum(next_four)

In [ ]:
# Using numpy to average the array
np.average(next_four)

In [ ]:
# Finding the length of the array
len(next_four)

## Columns of Tables are Arrays ##

### A more interesting table

In [ ]:
# Originally from https://github.com/erikgregorywebb/datasets/blob/master/nba-salaries.csv
# Create a table named nba from the data file using the Table method and read_table function
nba = Table.read_table('nba_salaries.csv')
nba

In [ ]:
# Create a table called point_guards by finding where the position column is labeled PG (point guard) during the 2020 season
point_guards = nba.where('position', 'PG').where('season', 2020)

In [ ]:
# Show the table
point_guards

In [ ]:
# Drop (remove) the position column
point_guards.drop('position')

In [ ]:
# Show the table
point_guards

In [ ]:
# Further remove columns from the table
point_guards = point_guards.drop('rank', 'position', 'season')

In [ ]:
# Show the first 10 rows of the table
point_guards.show(10)

In [ ]:
# Combine table functions: first sort by salary and then show the first 10 rows
# What is the default sorting direction? Hint: what is the default for the optional argument, descending?
point_guards.sort('salary').show(10)

In [ ]:
# The line below will cause a value error
# nba.drop('position').where('position', 'PG')

In [ ]:
# Create a table of only the data from the 2020 season
nba = Table.read_table('nba_salaries.csv').where('season', 2020).drop('season')
nba.show(5)

In [ ]:
# Create a table of Golden State Warriors data
warriors = nba.where('team', 'Golden State Warriors')
warriors.show(5)

In [ ]:
# Show the salary column
warriors.select('salary')

In [ ]:
# What type is the salary column?
type(warriors.select('salary'))

In [ ]:
# Access the numbers in the salary column
warriors.column('salary')

In [ ]:
# Average the numbers in the salary column
np.average(warriors.column('salary'))

In [ ]:
# Create a table with Phoenix Suns data
suns = nba.where('team', 'Phoenix Suns')

In [ ]:
# Subtract averages from the salary columns to compare the two teams
np.average(warriors.column('salary')) - np.average(suns.column('salary'))

In [ ]:
# How many rows in the warrior table?
warriors.num_rows

In [ ]:
# How many rows in the suns table?
suns.num_rows

### Saving
Remember to save your notebook before closing.
Choose **Save** (and make sure you've already saved a copy in your drive) from the **File** menu.