<a href="https://colab.research.google.com/github/tmckim/materials-sp24-colab/blob/main/lec_demos/lec03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Before you start - Save this notebook!

When you open a new Colab notebook from the WebCampus (like you hopefully did for this one), you cannot save changes. So it's  best to store the Colab notebook in your personal drive `"File > Save a copy in drive..."` **before** you do anything else.

The file will open in a new tab in your web browser, and it is automatically named something like: "**Copy of lec03.ipynb**". You can rename this to just the title of the assignment "**lec03.ipynb**". Make sure you do keep an informative name (like the name of the assignment) so that you know which files to submit back to WebCampus for grading! More instructions on this are at the end of the notebook.


**Where does the notebook get saved in Google Drive?**

By default, the notebook will be copied to a folder called “Colab Notebooks” at the root (home directory) of your Google Drive. If you use this for other courses or personal code notebooks, I recommend creating a folder for this course and then moving the assignments AFTER you have completed them. <br>

I also recommend you give the folder where you save your notebooks^ a different name than the folder we create below that will store the notebook resources you need each time you work through a course notebook. This includes any data files you will need, links to the images that appear in the notebook, and the files associated with the autograder for answer checking.<br>
You should select a name other than '**NS499-DataSci-course-materials**'. <br>
This folder gets overwritten with each assignment you work on in the course, so you should **NOT** store your notebooks in this folder that we use for course materials! <br><br>For example, you could create a folder called 'NS499-**notebooks**' or something along those lines. 

__________

In [ ]:
# Setup and add files needed to access gdrive
# If you restart colab, start by re-running this cell first!
from google.colab import drive                                   # these lines mount your gdrive to access the files we import below
drive.mount('/content/gdrive', force_remount=True)

# We make this folder (dir) for all your course materials this semester!
# You only need to do this once, so if you already ran this during the lecture demo or lab01, then you do *NOT* need it here (leave commented out behind the #)
# !mkdir -p '/content/gdrive/My Drive/NS499-DataSci-course-materials/'  # Don't change this name! This is where everything gets stored in gdrive, consistent for the semester

%cd /content/gdrive/MyDrive/NS499-DataSci-course-materials/         # Change directory to the correct location in gdrive
!rm -r materials-sp24-colab                                         # Remove the files that were previously there- we will replace with all the old + new ones for this assignment

# These lines clone (copy) all the files you will need from where I store the code+data for the course (github)
# Second part of the code copies the files to this location and folder in your own gdrive
!git clone https://github.com/tmckim/materials-sp24-colab '/content/gdrive/My Drive/NS499-DataSci-course-materials/materials-sp24-colab/'


# Change directory (cd) into the folder where the resources for this hw are stored in gdrive
%cd /content/gdrive/MyDrive/NS499-DataSci-course-materials/materials-sp24-colab/lec_demos/

#### Today's Lecture

In today's lecture, you'll learn how to:

1. use python to do arithmetic
2. import packages to use built in methods and functions
3. practice accessing data in tables

In [ ]:
# Import packages and other things needed
# Don't change this cell; Just run this cell
# If you restart colab, make sure to run this cell again after the first one above^

from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use("fivethirtyeight")

## Python Arithmetic ##

In [ ]:
# Addition
2 + 6

In [ ]:
# Multiplication
2 * 4

In [ ]:
# The line below errors
2 * * 4

In [ ]:
# Exponentiation
2 ** 4

In [ ]:
# Division
8/9

In [ ]:
# Combined operations
2 + 3 * -5

In [ ]:
# Order of operations
(2 + 3) * -5

In [ ]:
# Text or strings
'hello'

In [ ]:
# Strings with spaces
'Introduction to Data Science'

In [ ]:
# Adding text together
'Introduction' + 'to' + 'Data' + 'Science'

In [ ]:
# Multiplying text
'ha'* 10

## Names ##

In [ ]:
# Assignments
a = 2

In [ ]:
# Print the value of a
a

In [ ]:
# The line below causes a name error if b isn't assigned yet.
# b

In [ ]:
# Multiply a and b
b = 3
a * b

In [ ]:
a

In [ ]:
b

In [ ]:
# Add a and b
total = a + b
total

In [ ]:
# Adjust value of a. What happens to total?
a = 10
total

In [ ]:
# Print value of total
total

In [ ]:
# Print value of a
a

In [ ]:
# Assign total to a plus b
total = a + b
total

In [ ]:
# The line below causes a syntax error
# a + b = total

In [ ]:
# Add one to the value of a
a = a + 1
a

### Why Names?

A cell with arithmetic but no names is difficult to interpret.

In [ ]:
# Option 1
40 * 15.00

In [ ]:
# Multiply some values
40 * 52 * 15.00

On January 1, 2022, the CA Minimum Wage for Employers with 26 Employees or More increased to $15/hour.

In [ ]:
# Option 2
ca_hourly_minimum_wage = 15.00
hours_per_week = 40
weeks_per_year = 52

In [ ]:
# Calculate hours_per_year by multiplying the values of hours_per_week and weeks_per_year
hours_per_year = hours_per_week * weeks_per_year

In [ ]:
# Show the value of hours_per_year
hours_per_year

In [ ]:
# Weekly_wages is equal to hours_per_week multiplied by ca_hourly_minimum_wage
weekly_wages = hours_per_week * ca_hourly_minimum_wage
weekly_wages

In [ ]:
# yearly_wages is equal to hours_per_year multiplied by ca_hourly_minimum_wage
yearly_wages = hours_per_year * ca_hourly_minimum_wage
yearly_wages

## Functions and Call Expressions

In [ ]:
# Absolute value function
abs(-5)

In [ ]:
# Example 2
abs(1 - 3)

In [ ]:
# Assign names first and then calculate the absolute value
day_temp = 52
night_temp = 47
abs(night_temp - day_temp)

In [ ]:
# Minimum function
min(14, 15)

In [ ]:
# Round function
round(123.456)

In [ ]:
# Round function using 3 input numbers
round(123.456, 1)

In [ ]:
# Round function including optional arguments (ndigits)
round(123.456, ndigits=1)

In [ ]:
# Get help with the round function
round?

In [ ]:
# Round function explicitly assigning the number value
round(number=123.456)

In [ ]:
# The line below causes a type error because...
round(123.456, digs=1)

In [ ]:
# The line below causes an error if math has not been imported
# math.sqrt(2)

In [ ]:
# Import the math module
import math

In [ ]:
# Use math module and square root function
math.sqrt(2)

## Tables ##

In [ ]:
# Create a table called cones to hold the data from the .csv file
cones = Table.read_table('cones.csv')
cones

In [ ]:
# Show the entire table
cones.show()

In [ ]:
# Show the first 3 rows of the table
cones.show(3)

In [ ]:
# Select the column named Flavor
cones.select('Flavor')

In [ ]:
# Select the multiple columns: Flavor and Price
cones.select('Flavor', 'Price')

In [ ]:
# The line below causes an error because...
cones.select(Flavor, 'Price')

In [ ]:
# Drop the Price column
cones.drop('Price')

In [ ]:
# Show the cones table
cones

In [ ]:
# Create a new table named cones_without_price that has the Price column removed from the original cones table
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
# Find the rows where the Flavor is chocolate
cones.where('Flavor', 'chocolate')

In [ ]:
# Sort the table by Price
cones.sort('Price')

In [ ]:
# Sort the table by Price, from most expensive (highest number) to least expensive (lowest number)
cones.sort('Price', descending=True)

In [ ]:
# Sort the table by Flavor, alphabetically from Z to A
cones.sort('Flavor', descending=True)

### Saving
Remember to save your notebook before closing.
Choose **Save** (and make sure you've already saved a copy in your drive) from the **File** menu.